<!DOCTYPE html>
<html lang="en">
  [% INCLUDE header.tt
    title = "Ancestor and Descendant Charts"
  %]

<body id="todo">
  [% INCLUDE analytics.tt %]
  <div class="container">
    [% INCLUDE navbar.tt %]
    <div class="jumbotron">
      <p>These charts are very large, you will need to zoom in and scroll around
      to be able to see them properly.</p>
      [% FOREACH chart = charts %]
        <p>
          <a href="images/[% chart %]" target="_blank">
            [% chart FILTER remove("\.png") %]
            [% IF (matches = chart.match('Ancestors')) %]
              <img src="images/ancestorssmall.png" attributes="#"\>
            [% ELSE %]
              <img src="images/descendantssmall.png" attributes="#"\>
            [% END %]
          </a>
        </p>
      [% END %]
    </div>
  </div>
  [% INCLUDE footer.tt %]
</body>
</html>
