<!DOCTYPE html>
<html lang="en">
  [% INCLUDE header.tt
    title = "Person Page"
  %]
<body id="personpages">
  <div class="container">
    [% INCLUDE navbar.tt %]
  <div class="page-header">
    <h1><small>Person Page - [% page %]</small></h1>
  </div>
  <div class="jumbotron">
    <p>This page contains the details of individuals. The reference in square
    brackets at the right of the person header is used in Family Historian and
    helps me in dealing with any queries. </p>
  </div>
