<!DOCTYPE html>
<html lang="en">
  [% INCLUDE header.tt
    title = "Places"
  %]

<body id="todo">
  [% INCLUDE analytics.tt %]
  <div class="container">
    [% INCLUDE navbar.tt %]
    <div class="jumbotron">
      <p>This page is under development, please check back later</p>
    </div>
  </div>
  [% INCLUDE footer.tt %]
</body>
</html>
